/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define QWERTY 1
#define NUM 2
#define NAV 3
#define FUN 4

&sk {
    quick-release;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <NUM NAV>;
            then-layer = <FUN>;
        };
    };

    behaviors {
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        smart_shft: smart_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_SHIFT";
            #binding-cells = <0>;
            bindings = <&sk LSHFT>, <&caps_word>;

            mods = <(MOD_LSFT)>;
        };

        comma_semi: comma_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_SEMI";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;

            mods = <(MOD_LSFT)>;
        };

        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_COLON";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;

            mods = <(MOD_LSFT)>;
        };

        qmrk_excl: qmrk_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "QUESTION_EXCLAMATION";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp EXCL>;

            mods = <(MOD_LSFT)>;
        };

        slh_morph: slh_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_MORPH";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp BSLH>;

            mods = <(MOD_LSFT)>;
        };

        amps_morph: amps_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "AMPERSAND_MORPH";
            #binding-cells = <0>;
            bindings = <&kp AMPS>, <&kp PIPE>;

            mods = <(MOD_LSFT)>;
        };

        mt_balanced: mt_balanced {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_BALANCED";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        tap_preferred: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
            retro-tap;
        };
    };

    combos {
        compatible = "zmk,combos";

        combotab {
            bindings = <&kp TAB>;
            key-positions = <1 2>;
            layers = <0>;
        };

        comboesc {
            bindings = <&kp ESC>;
            key-positions = <7 8>;
            layers = <0>;
        };

        combo_yabai_lyr {
            bindings = <&sl 5>;
            key-positions = <27 28>;
            layers = <0>;
        };

        combo_maximize_yabai {
            bindings = <&kp LS(LA(M))>;
            key-positions = <27 28>;
            layers = <5>;
        };

        combo_less_than {
            bindings = <&kp LESS_THAN>;
            key-positions = <11 12>;
            layers = <2>;
        };

        combo_arrow {
            bindings = <&macro_arrow>;
            key-positions = <13 12>;
            layers = <2>;
        };

        combo_parenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <11 13>;
            layers = <0>;
            require-prior-idle-ms = <100>;
        };

        combo_braces {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <1 3>;
            layers = <0>;
            require-prior-idle-ms = <100>;
        };

        combo_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <21 23>;
            layers = <0>;
            require-prior-idle-ms = <100>;
        };

        equals_combo {
            bindings = <&kp KP_EQUAL>;
            key-positions = <19 18>;
            layers = <0>;
            require-prior-idle-ms = <100>;
        };

        combo_del_word {
            bindings = <&kp LA(BACKSPACE)>;
            key-positions = <17 18>;
            require-prior-idle-ms = <100>;
            layers = <0>;
        };

        combo_quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <9 8>;
            layers = <0>;
        };

        combo_closeP {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <12 13>;
            layers = <0>;
            require-prior-idle-ms = <100>;
        };

        combo_closeBrc {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <2 3>;
            layers = <0>;
            require-prior-idle-ms = <100>;
        };

        combo_closeBrk {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <22 23>;
            layers = <0>;
            require-prior-idle-ms = <100>;
        };

        combo_minus {
            bindings = <&kp MINUS>;
            key-positions = <29 28>;
            layers = <0>;
        };
    };

    macros {
        tmux_window_1: tmux_window_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp N1>;

            label = "TMUX_WINDOW_1";
        };

        tmux_window_2: tmux_window_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp N2>;

            label = "TMUX_WINDOW_2";
        };

        tmux_window_3: tmux_window_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp N3>;

            label = "TMUX_WINDOW_3";
        };

        tmux_window_4: tmux_window_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp N4>;

            label = "TMUX_WINDOW_4";
        };

        macro_end_tag: macro_end_tag {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LESS_THAN &kp SLASH>;

            label = "MACRO_END_TAG";
        };

        macro_parenthesis_pair: macro_parenthesis_pair {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS>;

            label = "MACRO_PARENTHESIS_PAIR";
        };

        braces_pair: braces_pair {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LEFT_BRACE &kp RIGHT_BRACE>;

            label = "BRACES_PAIR";
        };

        bracket_pair: bracket_pair {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LEFT_BRACKET &kp RIGHT_BRACKET>;

            label = "BRACKET_PAIR";
        };

        macro_arrow: macro_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp MINUS &kp GREATER_THAN>;

            label = "MACRO_ARROW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp F  &kp P                            &kp B        &kp J      &kp L      &kp U        &kp Y       &kp APOS
&kp A  &kp R  &kp S  &kp T                            &kp G        &kp M      &kp N      &kp E        &kp I       &kp O
&kp Z  &kp X  &kp C  &kp D                            &kp V        &kp K      &kp H      &comma_semi  &dot_colon  &kp SLASH
              &sl 2  &mt_balanced LS(LC(LALT)) SPACE  &smart_shft  &kp ENTER  &bspc_del  &sl NAV
            >;
        };

        qwerty_layer {
            bindings = <
&kp Q  &kp W  &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I      &kp O    &kp P
&kp A  &kp S  &kp D   &kp F   &kp G   &kp H   &kp J   &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C   &kp V   &kp B   &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH
              &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        num_layer {
            bindings = <
&kp GRAVE      &kp AT         &kp SLASH  &kp RBRC          &kp PRCNT  &kp STAR    &kp N7      &kp N8  &kp N9  &kp COMMA
&kp HASH       &kp LESS_THAN  &kp PIPE   &kp GREATER_THAN  &kp DLLR   &kp UNDER   &kp N4      &kp N5  &kp N6  &kp PLUS
&kp BACKSLASH  &kp COMMA      &kp LBKT   &kp RBKT          &kp GT     &kp KP_DOT  &kp N1      &kp N2  &kp N3  &kp SEMI
                              &trans     &trans            &trans     &kp N0      &kp LSHIFT  &trans
            >;
        };

        nav_layer {
            bindings = <
&kp TAB         &trans           &trans     &trans        &trans     &kp LC(H)  &kp LC(J)  &kp LC(K)  &kp LC(L)  &trans
&sk LEFT_SHIFT  &sk LCTRL        &sk LALT   &sk LGUI      &trans     &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp ESC
&kp C_VOL_DN    &kp C_VOLUME_UP  &kp LG(C)  &kp LA(BSPC)  &kp LG(V)  &trans     &kp LC(D)  &kp LC(U)  &trans     &trans
                                 &trans     &trans        &trans     &trans     &trans     &trans
            >;
        };

        fun_layer {
            bindings = <
&tog QWERTY   &trans        &trans        &trans  &bootloader  &bootloader  &kp F7  &kp F8  &kp F9  &kp F12
&trans        &trans        &trans        &trans  &trans       &trans       &kp F4  &kp F5  &kp F6  &kp F11
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &bt BT_CLR   &trans       &kp F1  &kp F2  &kp F3  &kp F10
                            &trans        &trans  &trans       &trans       &trans  &trans
            >;
        };

        macro_layer {
            bindings = <
&tmux_window_1  &tmux_window_2  &tmux_window_3      &tmux_window_4  &none      &none      &kp LA(H)       &kp LS(LA(E))   &kp LS(LA(Y))   &none
&kp LG(SPACE)   &kp LA(L)       &kp LG(LS(LC(N4)))  &none           &none      &kp LC(H)  &kp LC(J)       &kp LC(K)       &kp LC(L)       &none
&none           &none           &kp LG(C)           &none           &kp LG(V)  &none      &tmux_window_1  &tmux_window_2  &tmux_window_3  &none
                                &none               &none           &none      &none      &none           &none
            >;
        };
    };
};
